.ButtonContainer h1 {
  color: #333;
} 

.ButtonList {
  display: flex;
  justify-content: space-around;
  margin: 2rem auto;
  height: 7rem;
}

.ButtonList button {
  padding: 1rem;
  font-size: 2rem;
  color: white;
  border: none;
  margin: 1rem;
}
